# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/.next.bak-*/
/.next.dev-broken-*/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

# env files
.env*
google-services.json
serviceAccount*.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
